@charset "UTF-8";
/*
- Name: megamenu.js - style.css
- Version: 1.0
- Latest update: 29.01.2016.
- Author: Mario Loncarek
- Author web site: http://marioloncarek.com
*/
/* ––––––––––––––––––––––––––––––––––––––––––––––––––
Body - not related to megamenu
–––––––––––––––––––––––––––––––––––––––––––––––––– */
* {
  box-sizing: border-box;
}

/* ––––––––––––––––––––––––––––––––––––––––––––––––––
megamenu.js STYLE STARTS HERE
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* ––––––––––––––––––––––––––––––––––––––––––––––––––
Screen style's
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.megamenu-container {
  width: 80%;
  margin: 0 auto;
  background: #e9e9e9;
}

@media only screen and (max-width: 959px) {
  .megamenu-container {
    width: 100%;
  }
}

/*
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.megamenu-mobile {
  display: none;
  padding: 20px;
  text-align: right;
}

@media only screen and (max-width: 959px) {
  .megamenu-mobile {
    display: block;
  }
}

/*
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.megamenu-dropdown-icon:before {
  content: "+";
  display: none;
  cursor: pointer;
  float: right;
  padding: 1.5em 2em;
  background: #fff;
  color: #333;
}

@media only screen and (max-width: 959px) {
  .megamenu-dropdown-icon:before {
    display: block;
  }
}

/*
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.megamenu-root {
  position: relative;
  width: 100%;
  padding: 0;
  margin: 0 auto;
  list-style: none;
  /* IF .megamenu position=relative -> ul = container width, ELSE ul = 100% width */
  box-sizing: border-box;
}

@media only screen and (max-width: 959px) {
  .megamenu-root {
    display: none;
  }
}

.megamenu-root:before, .megamenu-root:after {
  content: "";
  display: table;
}

.megamenu-root:after {
  clear: both;
}

.megamenu-root > li {
  padding: 0;
  margin: 0;
  float: left;
  background: #e9e9e9;
}

@media only screen and (max-width: 959px) {
  .megamenu-root > li {
    display: block;
    width: 100%;
    float: none;
  }
}

.megamenu-root > li a {
  display: block;
  padding: 1.5em 3em;
  text-decoration: none;
}

@media only screen and (max-width: 959px) {
  .megamenu-root > li a {
    width: 100%;
    padding: 1.5em;
  }
}

.megamenu-root > li:hover {
  background: #f0f0f0;
}

/*
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.megamenu-dropdown {
  position: absolute;
  left: 0;
  z-index: 99;
  display: none;
  width: 100%;
  padding: 20px;
  background: #f0f0f0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
}

@media only screen and (max-width: 959px) {
  .megamenu-dropdown {
    position: relative;
  }
}

.megamenu-dropdown:before, .megamenu-dropdown:after {
  content: "";
  display: table;
}

.megamenu-dropdown:after {
  clear: both;
}

.megamenu-dropdown > li {
  margin: 0;
  padding-bottom: 0;
  list-style: none;
  width: 25%;
  background: none;
  float: left;
}

@media only screen and (max-width: 959px) {
  .megamenu-dropdown > li {
    float: none;
    width: 100%;
    margin-top: 20px;
  }
  .megamenu-dropdown > li:first-child {
    margin: 0;
  }
}

.megamenu-dropdown > li a {
  color: #777;
  padding: .2em 0;
  width: 95%;
  display: block;
  border-bottom: 1px solid #ccc;
}

.megamenu-dropdown > li > ul {
  display: block;
  padding: 0;
  margin: 10px 0 0;
  list-style: none;
  box-sizing: border-box;
}

@media only screen and (max-width: 959px) {
  .megamenu-dropdown > li > ul {
    position: relative;
  }
  .megamenu-dropdown > li > ul > li {
    float: none;
  }
}

.megamenu-dropdown > li > ul:before, .megamenu-dropdown > li > ul:after {
  content: "";
  display: table;
}

.megamenu-dropdown > li > ul:after {
  clear: both;
}

.megamenu-dropdown > li > ul > li {
  width: 100%;
  padding: 10px 0;
  margin: 0;
  float: left;
}

.megamenu-dropdown > li > ul > li a {
  border: 0;
}

.megamenu-dropdown.normal-sub {
  left: auto;
  width: 300px;
  padding: 10px 20px;
}

@media only screen and (max-width: 959px) {
  .megamenu-dropdown.normal-sub {
    width: 100%;
  }
}

.megamenu-dropdown.normal-sub > li {
  width: 100%;
}

.megamenu-dropdown.normal-sub > li a {
  border: 0;
  padding: 1em 0;
}

/*
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media only screen and (max-width: 959px) {
  .show-on-mobile {
    display: block;
  }
}

/*# sourceMappingURL=style.css.map */
